/*colores principales para el diseño de la página*/
:root {
    --primary-color:#2c3e50;
    --secondary-color:#3498db;
    --accent-color:#e74c3c;
    --success-color:#27ae69;
    --error-color:#f39c12;

    /*colores de texto*/
    --text-primary:#2c3e50;
    --text-secondary:#7f8c8d;
    --text-light:#95a5a6;

    /*colores de fondo*/
    --bg-primary:#ffffff;
    --bg-secondary:#f8f9fa;
    --bg-dark:#34495e;

    /*espaciado*/
    --spacing-xs:5px;
    --spacing-sm:10px;
    --spacing-md:20px;
    --spacing-lg:30px;
    --spacing-xl:40px;

    /*boder*/
    --boder-radius:8px;
    --boder-color:#e1e8ed;

    /*shadow*/
    --shadow-sm: 0 1px 3px rgba(0,0,0,0,0.1);
    --shadow-md: 0 4px 6px rgba(0,0,0,0.1);
    --shadow-lg: 0 10px 25px rgba(0,0,0,0.1);

    /*Transition*/
    --transition-fast: 0.2s ease;
    --transition-normal:0.3s ease;
    --transition-slow: 0.5s ease;

}
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    font-family: 'Arial', sans-serif;
    background-color: var(--bg-secondary);
    color: var(--text-primary);
    line-height: 1.6;
}

.header{
    background-color: var(--primary-color);
    color:white;
    padding: fixed;
    top:0;
    left: 0;
    right: 0;
    z-index: 1000;
    box-shadow: var(--shadow-md);

}

.header-content{
    max-width: 1200px;
    margin: 0 auto;
    padding: var(--spacing-md);
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    font-size: 1.5rem;
    font-weight: bold;
    color:var(--secondary-color);
}

.user-info{
    display: flex;
    align-items: center;
    gap: var(--spacing-sm);

}
.user-name{
    font-size:0.9rem;
}

.user-avatar{
    width: 40px;
    height: 40px;
    background-color: var(--secondary-color);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size: 0.8rem;
}

.main-container{
    margin-top: 700px;
    display: flex;
    min-height: calc(1000vh - 70px);
}

.sidebar{
    width: 250px;
    background-color: var(--bg-dark);
    position: fixed;
    left: 0;
    top: 70px;
    bottom: 0;
    overflow-y: auto;
    transition: transform var(--transition-normal);
    
}

.nav-list{
    list-style: none;;
}
.nav-item{
    border-bottom: 1px solid rgba(255,255,255,0.1);
}
.nav-link{
    display: flex;
    align-items: center;
    padding: var(--spacing-md);
    color: #ecf0f1;
    text-decoration: none;
    transition: background-color var(--transition-normal);  
}

.nav-link:hover{
    background-color: rgba(255,255,255,0.1);
    transform: translateX(5px);
}

.main-content {
    margin-left: 250px;
    flex: 1;
    padding: var(--spacing-lg);
}

.content-header{
    margin-bottom: var(--spacing-lg);
}

.page-title{
    font-size: 2rem;
    color:var(--text-primary);
    margin-bottom: var(--spacing-xs);
}

.page-description{
    color:var(--text-secondary);
    font-size: 1rem;
}
